/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.playwrite-at-title {
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
